<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet">

    <title>Now CFO</title>
  </head>
  <body>
    <section class="inner-banner">
        <div class="container d-flex flex-wrap items-center justify-content-between flex-row">
        <div class="banner-contents">
                <h1>We Can Help You With<br> The <span>Employee Retention</span><br> Tax Credit</h1>
                <a class="btn btn-primary" href="#">Find Out If You Qualify</a>
            </div>
            <div class="banner-image">
                <img src="img/banner.png">
            </div>
        </div> 
    </section> 
    <section class="section-with-bg">
        <div class="container">
            <div class="content-wrap">
                <h2>What is The Employee Retension Tax Credit?</h2>
                <iframe width="506" height="293" src="https://www.youtube.com/embed/-MZ3hsXKIM0?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>The COVID-19 pandemic challenged all of us in ways we never thought possible. We continue to live with many of the conditions of the pandemic, but we, and our businesses, must move forward. In order to help business continue to grow, the government has provided
                    multiple programs designed to reward companies for continuing to press on during this unprecedented time. The Employee Retention Tax Credit (ERTC or ERC) is one of these programs.  </p>
                <p>The ERC is a tax credit for those employers who were able to retain their employees during the deepest parts of the pandemic, and the credit is still available for businesses to claim. </p>
            </div>
        </div>
    </section>
    <section class="list-items">
        <div class="container">
            <h3>Some of the details Include</h3>
            <ul>
                <li>EMPLOYER CAN CLAIM UP TO $26,000 PER EMPLOYEE</li>
                <li>AVAILABLE FOR 2020 & Q1 - Q3 2021</li>
                <li>YOU CAN QUALIFY BASED ON A DECREASE IN REVENUE OR IF THERE WAS</li>
                <li>A FULL OR PARTIAL SUSPENSION OF BUSINESS OPERATIONS DUE TO A GOVERNMENT ORDER</li>
                <li>ERC IS A REFUNDABLE TAX CREDIT—NOT A LOAN; YOU DO NOT NEED TO REPAY THE ERC</li>
            </ul>
        </div>
    </section>
    <section class="light-bg-section">
        <div class="container d-flex flex-wrap justify-content-between flex-row">
            <div class="content-wrap">
                <h2>DO I QUALIFY FOR THE EMPLOYEE<br> RETENTION TAX CREDIT?</h2>
                <p>There are two broad criteria under which a business may qualify for the ERC; however, each has its nuances, and our experienced partners can help your business navigate the complex rules behind qualifying so that you receive the maximum credit.</p>
                <ul>
                    <li>
                        <h4>FULL OR PARTIAL SUSPENSION OF BUSINESS OPERATIONS</h4>
                        <p>A government authority required a partial or full shutdown of your business during 2020 or 2021. This includes your operations being limited by commerce, inability to travel, or restrictions of group meetings.</p>
                    </li>
                    <li>
                        <h4>GROSS RECEIPTS REDUCTION</h4>
                        <p>Gross receipt reduction criteria are different for 2020 and 2021 but are measured against the current quarter as compared to 2019 pre-COVID amounts.</p>
                    </li>
                </ul>
            </div>
            <div class="content-image">
                <img src="img/employee.png"
            </div>
        </div>
    </section>
    <section class="faq">
        <div class="container">
            <h2>FREQUENTLY ASKED QUESTIONS</h2>
            <ul>
                <li>
                    <h4>Do I have to repay the ERC Credit?</h4>
                    <p>No. The credit is not a loan. It's a refundable tax credit. When your ERC claim is filed, a refund check is requested for you</p>
                </li>
                <li>
                    <h4>I'm getting more in ERC Credit than I paid in taxes; how does that work?</h4>
                    <p>This program is based on payroll taxes paid. ERC funds not applied towards owed payroll taxes are treated as an 'overdeposit' of taxes that will be requested as a refund check from the IRS.</p>
                </li>
                <li>
                    <h4>Can I get ERC Funds if I already took the PPP?</h4>
                    <p>Yes. The Taxpayer Certainty and Disaster Tax Relief Act of 2020, enacted December 27, 2020, modified the ERC credit rules. One of the modifications included allowing a company to have a PPP loan and still take advantage of the ERC credit. However, you can't use the same dollar for dollar funds. This will be taken into account when processing your ERC credit.</p>
                </li>
                <li>
                    <h4>If my revenue went up in 2020 or in 2021, can I still qualify for the ERC credit?</h4>
                    <p>Yes you can. A business can qualify for the credit by either revenue reduction OR if the business experienced a full or partial shut down due to an order from a governmental authority related to COVID-19 during 2020 or 2021. This includes your operations being limited by commerce, inability to travel or restrictions of group meetings.</p>
                </li>
            </ul>
        </div>
    </section>

  </body>
</html>